body{
  background-color: blueviolet;
}

.main{
  width: 100%;
  border: 15px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.btmcont{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.tb{
  width: 100%;
}
.tbcont{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}

